@font-face {
    font-family: Silver;
    src: url(Assets/fontStyle/Silver.ttf)format("truetype");
}

html,
body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    font-family: Silver, sans-serif;
    color: #FFFFFF;
}

.header{
}
#webMap{
    border-bottom: 4px solid #FFFFFF;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 100%;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.main {
    height: 100%;
}

#logo{
    padding-top: 48px;
    padding-bottom: 48px;
    display:block; 
    margin:auto;
}

#pixelNewsTitle{
    font-size: 48px;
    text-align:center;
    margin:auto;
    padding-bottom: 10px;

}


.tdNews{
    font-size: 24px;
    width: 360px;
    padding-top: 12px;
    text-align:center;
}

.borderNewsFrist{
    border-bottom: 4px solid #FFFFFF;
}
.borderNews{
    border-bottom: 2px solid #FFFFFF;
}